.auth0{
    &--box{
        display: flex;
        background-color: #fff;
        padding: 2em;
        border: 1px solid $lightGrey;
        border-radius: 5px;
        flex-direction: column;
        h3{
            text-align: center;
        }
    }
}