.chat{
    &-login{
        .v-btn{
            color: #fff !important;
            margin: 0.8em auto;
            width: 50%;
            height: 4em;
            &:first-child{
                background-color: #3b5998 !important;
            }
            &:nth-child(2){
                background-color: #d74a37 !important;
            }
        }
        svg{
            height: 20px;
            width: 20px;
        }
        &--button{
            display: flex;
            flex-direction: column;
        }
    }
    &-container{
        &--height{
            height: calc(100vh - 50px);
            padding-top: 50px;
        }
        .v-card{
            height: calc(100% - 60px) !important;
            overflow-y: auto;
        }
        .v-input{
            width: 95%;
            display: flex;
            margin: auto;
            align-items: center;
            .v-input__slot, .v-text-field__details, .v-input{
                margin: 0 !important;
            }
            .v-messages{
                min-height: 0;
            }
        }
        &--content{
            background-color: #f0f0f0;
            padding: 8px;
            align-self: flex-start;
            margin-left: 1em;
            border-radius: 10px;
            max-width: 250px;
            box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
        }
        &--sender{
            background-color: #039be5;
            margin-left: auto;
            margin-right: 1em;
            color: #fff;
        }
        &--box{
            display: flex;
        }
        .v-toolbar{
            position: fixed;
            width: 50%;
            &:first-child{
                top: 48px;
                z-index: 1;
            }
        }
        .nav-fixed{
            bottom: 0;
            padding: 0.5em;
            background-color: #fff !important;
        }
    }
    &--box{
        background-color: #fff;
        box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
        border-radius: 5px;
        padding: 2em;
    }
}